# Foldery kompilacji
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docuser
.vs/

# Avalonia
.avalonia/

# macOS
.DS_Store

# Ustawienia VS Code
.vscode/

# Pliki użytkownika Visual Studio
*.user
*.suo
*.userosscache
*.sln.docuser

# Logi i pliki tymczasowe
*.log
*.tmp

# Test coverage results
[Tt]est[Rr]esults/
*.json
!appsettings.json
*.cobertura.xml